{% extends 'base.html.twig' %}

{% block title %}Achat{% endblock %}

{% block h1 %}
    <div class="container text-center mt-4">
        <h1>Trouvez chaussure à votre pied chez UniShoe </h1>
    </div>
{% endblock %}

{% block mainContainer %}
    <div class="container text-center mt-4">
        <div class="row flex mt-4">
            {% for article in articles %}
                <div class="col-4 my-3">
                    <a class="card" style="text-decoration: none" href="{{ path('article.detail', {id: article.id, slug: article.slug})}}">
                        <div class="card-body">
                            <h5 class="card-title">
                                <span>{{ article.name }}</span>
                                <div class="text-primary" style="font-weight: bold; font-size: 2.5rem"> {{ article.price }} €</div>
                                <i style="font-size: 0.8rem"> Date de mise en ligne : {{ article.getCreatedAt() | date('d-m-Y') }} </i>
                                <div><i style="font-size: 0.8rem"> Publié par {{ article.getLabelUser() }} </i></div>
                            </h5>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}